@import url(https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Sarpanch:wght@400;500;600;700;800;900&display=swap);

:root {
  --background-color: rgba(0, 0, 0, 1);
  --text-color: rgba(255, 255, 255, 100%);
  --primary-color: rgba(20, 87, 255, 1);
  --border-color: rgba(255, 255, 255, 24%);
  --secondary-border-color: rgba(255, 255, 255, 0.16);
  --font-primary: 'rajdhani', sans-serif;
  --font-secondary: 'sarpanch', sans-serif;
}

* {
  text-decoration: none;
}
  
html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0 48px;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}  

h1,
p {
	color: var(--text-color);
}

footer {
  padding: 96px 0 24px 0;
}

#hero-section {
  padding: 96px 0;
}

#hero-header {
  font: 400 120px/120px var(--font-primary);
  text-align: center;
}

#projects {
  padding: 48px 0;
  border-bottom: 1px solid var(--border-color) ;
}

#project-header {
  font: 400 34px/40px var(--font-primary);
}

#project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  font-family: var(--font-primary);
}

#about {
  padding: 96px 0;
}

#about p {
  font: 400 48px/52px var(--font-primary);
  text-align: center;
  width: 900px;
  height: 208px;
}

#contact-section h1{
  font: 400 28px/32px var(--font-primary);
}

#contact-section p{
  font: 500 17px/28px var(--font-primary);
  width: 640px;
}

#contact-button {
  padding: 12px 24px;
  border: 1px solid var(--secondary-border-color);
  background-color: inherit;
  color: var(--text-color);
  font: 600 20px/24px var(--font-primary);
  transition: 0.15s;

  &:hover {
    cursor: pointer;
  }
}

.project-button {
  padding: 8px 16px 8px 16px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  font-family: var(--font-primary);
  font-weight: 600;
  transition: 0.15s;

  &:hover {
    cursor: pointer;
    background-color: rgb(17, 74, 218);
    font-size: 0.875rem;
  }
}

.details-container {
  padding: 12px 0;
}

.details-container h1{
 font: 400 20px/24px var(--font-primary);
}

.details-container p{
 font: 400 15px/20px var(--font-primary);
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

footer h1 {
  font: 400 28px/32px var(--font-primary);
}