nav {
	border-bottom: 1px solid var(--border-color);
}

#logo {
	font: 700 42px/42px var(--font-secondary);
	color: var(--text-color);
}

#tabs > ul{
	font: 400 28px/32px var(--font-primary);
	color: var(--text-color);
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding-top: 16px;
	padding-bottom: 16px;
}

#tabs > ul > a {
	color: var(--text-color);
	padding: 0 1.25rem;
	transition: 0.15s;

	&:hover {
		cursor: pointer;
		color: rgba(128, 128, 128, 1);
	}
}